spring:
  cloud:
    gateway:
      routes:
        - id: discover-service
          uri: lb://DISCOVERY-SERVICE
          predicates:
            - Path=/api/discovery-service/**
          filters:
            - StripPrefix=2
            - PrefixPath=/eureka
            - ExternalAuthFilter

        - id: auth-service
          uri: lb://AUTH-SERVICE
          predicates:
            - Path=/api/auth/**, /api/users, /api/users/**
          filters:
            - StripPrefix=1
            - PrefixPath=/auth-service/api/v1
